body{
    background-image: url(fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    padding: 10px;
}

img{
    width: 300px;
    height: 400px;
}